<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Jsme první televize, která hraje písničky, které máte rádi: lidovky, dechovky, harmoniky, trampské a osvědčené šlágry.">
  <meta name="keywords" content="šlágr tv, televize, písničky, lidovky, dechovky, harmoniky, trampské, šlágry">

  <title>Stránka nenalezena &mdash; Šlágr TV</title>

  <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16">
  <link rel="stylesheet" media="all" href="/css/default.css">
</head>
<body>


  <header class="header header--narr">
    <div class="container">
      <div class="header__nav row">
        <div class="col-7 col-lg-3 col-xl-4" role="banner">
          <h1><a class="header__logo" href="{{ 'index' | url_for }}"><img src="/files/logo-slagr.png" alt="Šlágr TV"></a></h1>
        </div>

        <div class="col-5 col-lg-9 col-xl-8 text-right">
          <nav class="navigation" role="navigation">
            <h2 class="sr-only">Navigace</h2>
            <span class="navigation__responsive" aria-hidden="true">Menu <span><i class="fa fa-bars" aria-hidden="true"></i></span></span>
            <div class="navigation__body">
              <ul>
                <li class="navigation__item"><a href="{{ 'index' | url_for }}">Úvod</a></li>
                <li class="navigation__item"><a href="{{ 'program' | url_for }}">Program</a></li>
                <li class="navigation__item"><a href="{{ 'porady' | url_for }}">Pořady</a></li>
                <li class="navigation__item"><a href="{{ 'hitparady' | url_for }}">Hitparáda</a></li>
                <li class="navigation__item"><a href="{{ 'kontakt' | url_for }}">Kontakt</a></li>
                <li class="navigation__item item--highlight"><a href="http://eshop.slagrtv.cz/" target="_blank">Koupit CD/DVD</a></li>
              </ul>
              <ul class="navigation__sub">
                <li class="navigation__item"><a href="http://www.slagrmobil.cz/" target="_blank"><img src="/files/slagr-mobil.png" alt="Šlágr Mobil"></a></li>
                <li class="navigation__item"><a href="{{ 'koncert' | url_for }}"><img src="/files/slagr-koncert.png" alt="Šlágr Koncert"></a></li>
                <li class="navigation__item"><a href="{{ 'klub' | url_for }}"><img src="/files/slagr-klub.png" alt="Šlágr Klub"></a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>



  <div class="content" role="main">
    <div class="container">
      {% for flash in flashes %}
        <div class="alert {{flash[0]}} alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
            <span aria-hidden="true">&times;</span>
          </button>
          {{flash[1]}}
        </div>
      {% endfor %}

      <div class="row">
        <div class="col-md-4 text-md-right big-num pb-5 pb-md-0">404</div>
        <div class="col-md-7 offset-md-1 pb-4 pb-md-0">
          <h3>Požadovaná stránka nebyla nalezena</h3>
          <p>Je nám líto, ale požadovaná stránka se bohužel na webu nenachází. Patrně byla odstraněna, přemístěna nebo přejmenována.</p>
          <p><a href="{{ 'index' | url_for }}" class="button">Přejít na Úvod</a></p>
        </div>
      </div>
    </div>
  </div>



  {% include 'snippets/footer.jinja' %}


  <script src="/js/jquery.1.9.1.min.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>
  <!--[if lt IE 9]><script src="/js/html5.min.js"></script><![endif]-->

</body>
</html>
