<!DOCTYPE html>
<html lang="cs">
    <head>
      <meta charset="utf8">
      <title>Stránka nenalezena</title>
      <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16">
    </head>
    <body>
        <h1>404 čtyřistačtyři</h1>
    </body>
</html>
