<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<title>{% if title %}{{ title }} pyGrim tests{% endif %}</title>
	<link rel="icon" type="image/png" href="/favicon.png" sizes="16x16">
    <style>
        .container{
            border: 1px solid black;
            display:block;
            min-height: 1em;
            margin: 2px;
        }
    </style>

    {% for script in js_header_sync %}
        <script src="{{script}}"></script>
    {% endfor %}
    {% for script in js_header_async %}
        <script src="{{script}}" async defer></script>
    {% endfor %}
    {% for style in css %}
        <link rel="stylesheet" src="{{css}}">
    {% endfor %}
</head>
<body>

	{% block main %}
    {% for flash in flashes %}
      <div style="border:1px" class="alert {{flash[0]}}">
        {{flash[1]}}
      </div>
    {% endfor %}
  {% endblock %}

</body>
</html>
