{% extends "@layout.jinja" %}

{% block main %}

    <div class="container">
        {{ super() }} {# flash messages #}
    </div>

    <div class="container">
        {{value}}
    </div>

    <div class="container">
        {{uses_data}}
    </div>

    <div class="container">
        {{css[1]}}
    </div>


{% endblock %}
