{% extends "@layout.jinja" %}

{% set title = 'Hitparády' %}

{% block main %}

		<div class="container">
            {{category_id}}
        </div>

		<div class="container">
            {{category_empty}}
        </div>

{% endblock %}
