{% extends "@layout.jinja" %}

{% include 'snippets/modal-stream.jinja' %}


{% block main %}

    <div class="container">
        {{world}}
    </div>

    <div class="container">
        {{time_range}}
    </div>

{% endblock %}
