{% extends "@layout.jinja" %}

{% block main %}

    <div class="container">
        {{'index' | url_for }}#
    </div>

    <div class="container">
        {{'hitparady' | url_for }}#
    </div>

    <div class="container">
        {{'hitparady' | url_for(params={'category_id': 66} )}}
    </div>

    <div class="container">
        {{'svety' | url_for(params={'world': 'disco', 'time_range':42} )}}
    </div>

    <div class="container">
        {{'order' | url_for(params={'id':42} )}}
    </div>

{% endblock %}

