<footer class="footer">
    <div class="container footer__info">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <img class="footer__logo" src="/files/logo-slagr-footer.png" alt="Šlágr TV">
                <address>
                    <p>Šlágr TV, spol. s r.o. <br>Dubné 158, 373 84 Dubné</p>
                    <p class="mb-0">
                        <i class="fa fa-phone" aria-hidden="true"></i> <a class="nolink" href="tel:00420387992992">+420&nbsp;387&nbsp;992&nbsp;992</a> <img class="flag" src="/files/flags/cz-mini.png" alt="CZ"> <br>
                        <i class="fa fa-phone invisible" aria-hidden="true"></i> <a class="nolink" href="tel:00421346601234">+421&nbsp;346&nbsp;601&nbsp;234</a> <img class="flag" src="/files/flags/sk-mini.png" alt="SK"> <br>
                        <i class="fa fa-envelope mt-2" aria-hidden="true"></i> <a class="mt-2" href="mailto:info@slagrtv.cz">info@slagrtv.cz</a>
                    </p>
                </address>
            </div>

            <div class="col-sm-6 col-lg-5 col-md-4 footer__nav">
                <div class="row">
                    <ul class="col-lg-6">
                    </ul>
                    <ul class="col-lg-6">
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="http://eshop.slagrtv.cz/" target="_blank">Koupit CD/DVD</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-5">
                <div class="footer__frm">
                    <div class="frm__inner">
                        <h2>Napište nám</h2>
                        <fieldset>
                            <form action="/napiste" method="post" id="feedback_form" onsubmit="return onSubmit(null)">
                                <input type="hidden" name="page", value={{context.get_request_uri()}}>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="jmeno" placeholder="Jméno" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="E-mail" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="zprava" rows="3" placeholder="Vaše zpráva" data-toggle="tooltip" data-html="true" data-placement="top" title="Písničky na přání přijímáme <br><strong>pouze klasickou poštou</strong>! <br><a href='kontakt.html'>Přejít na kontakty</a>" required></textarea>
                                </div>
                                <input type="hidden" id="g-captcha-response" name="g-captcha-response" value="">
                                <div class="g-recaptcha"
                                    data-sitekey="{{captcha_site_key}}"
                                    data-callback="captchaConfirm"
                                    data-size="invisible">
                                </div>
                                <button class="button button--darkred">Odeslat</button>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__sub">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p role="contentinfo">
                        Česká muzika spol. s r.o. &copy; 2017 <span class="footer__sep">&bull;</span>
                        Vytvořil&nbsp; <a href="http://grandit.cz/" target="_blank">Grand IT</a>
                    </p>
                </div>
                <div class="col-lg-6 text-right">
                    <p class="footer__social">
                        <a target="_blank" href="https://www.facebook.com/slagrtv"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.youtube.com/user/CeskaMuzika1"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        {#<a target="_blank" href="#"><i class="fa fa-spotify" aria-hidden="true"></i></a>
                        <a target="_blank" href="#"><img src="/img/icons/ico-it.png" alt="iTunes"></a>
                        <a target="_blank" href="#"><img src="/img/icons/ico-dz.png" alt="Deezer"></a>#}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>



<a href="#top" class="gotop" aria-hidden="true"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
