<!-- modal stream -->
<div id="stream" class="modal expandin" tabindex="-1" role="dialog" aria-labelledby="stream" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a class="modal__close" data-dismiss="modal" aria-label="Zavřít"><i class="fa fa-times" aria-hidden="true"></i></a>
      <div class="modal__frame">
        <iframe src="https://utils.ssl.cdn.cra.cz/live-streaming/clients/slagrtv/player-r.php" width="854" class="iframe--resp" frameborder="0" height="480" scrolling="no" seamless="seamless" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
      </div>
    </div>
  </div>
</div>