{% extends "layout.jinja" %}

{% block flash %}
	<p>This page shows all flashes.</p>
	{% for type, message in context.get_flashes() %}
		<p>{{ type }}: {{ message }}</p>
	{% endfor %}
{% endblock %}

