<!DOCTYPE html>
<!--[if IE 8]> <html lang="cs" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="cs" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="cs"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>pyGrim test</title>
</head>

<body>
	<p>{{ text }}</p>
	<a href="{{ base_url(request) }}">Home</a>
	<a href="{{ url_for(request, "home") }}">Home 2</a>
	<a href="{{ url_for(request, "home", {"jkxd": ""}) }}">Home dump</a>
</body>

</html>

