<!DOCTYPE html>
<!--[if IE 8]> <html lang="cs" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="cs" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="cs"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>Test pyGrimu</title>
</head>

<body>
	<p>{{ text }}</p>
	<a href="{{ base_url(request) }}">Domů</a>
	<a href="{{ url_for(request, "domu", {"jkxd": 10}) }}">Domů 2</a>
</body>

</html>

